/* -----------------------------------------  FONTS  ----------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



/* -----------------------------------------  :ROOT  ----------------------------------------- */

:root {
  --main-dark: #0E0E0E;
  --main-color: #3E68FF;
  --main-blue: #6688FF;
  --seconde-color: #C9BB94;
  --available-color: #37E391;
  --unavailable-color: #E33737; 
  --white-light: #EEF0F4;
  --grey-dark: #222222;
}


/* -----------------------------------------  CLASSES  ----------------------------------------- */

.main-color {
  color: var(--main-blue);
}

.second-color {
  color: var(--seconde-color);
}

.semi-bold-16 {
  font-size: 1rem;
  font-weight: 600;
}

.semi-Bold-12 {
  font-size: 0.8rem;
  font-weight: 400;
}

/* .width-content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3E68FF;
}*/

.btn-cercle {
  height: 70px;
  width: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1.2px solid white;
  border-radius: 50%;
}

/* -----------------------------------------  RESET CSS  ----------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  list-style: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-blue) var(--main-dark);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--main-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-blue);
  border-radius: 20px;
  border: 3px solid var(--main-dark);
}


/* -----------------------------------------  BALISE  ----------------------------------------- */

body {
  background-color: var(--main-dark);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}



/* -----------------------------------------  PORTFOLIO PAGE  ----------------------------------------- */


/* ---------------------------------  HEADER V1 --------------------------------- */

.header-v1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100% - 12px);
  padding: 30px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(2px);
}

@media (max-width: 992px) {
  .header-v1 {
    padding: 30px 20px;
  }
}
@media (max-width: 525px) {
  .header-v1 {
    flex-direction: column;
  }
}

/* -------------  Logo  -------------- */

.header-v1 .logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: nowrap;
}

.header-v1 .logo-content {
  margin-left: 20px; 
}

@media (max-width: 992px) {
  .header-v1 .logo-content {
    display: none;
  }
}
@media (max-width: 525px) {
  .header-v1 .logo-content {
    display: block;
    margin-bottom: 20px;
  }

}
@media (max-width: 270px) {
  .header-v1 .logo-content {
    display: none;
  }
}

/* -------------  Navbar  -------------- */

.header-v1 .navbar {
  background-color: var(--grey-dark);
  border-radius: 50px;
}

.header-v1 .navbar ul {
  display: flex;
  padding: 2px 2px;
  justify-content: center;
  align-items: center;
}

.header-v1 .navbar ul li {
  font-size: 0.9rem;
  border-radius: 50px;
  padding: 8px 20px;
}

@media (max-width: 525px) {
  .header-v1 .navbar ul li {
    font-size: 0.8rem;
  }
}

.header-v1 .navbar ul li a {
  white-space: nowrap;
}

.header-v1 .navbar .nav-home {
  background-color: var(--main-dark);
}

/* -------------  Available + Socials  -------------- */

.header-v1 .right-menu {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: end;
}

.header-v1 .available {
  display: flex;
  align-items: center;
}

@media (max-width: 710px) {
  .header-v1 .available {
    display: none;
  }
}

.header-v1 .pulse {
  width: 28px;
  height: 28px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.header-v1 .point {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  flex-wrap: nowrap;
  position: static;
  border-radius: 50%;
  background-color: var(--unavailable-color);
}

.header-v1 .point-animation {
  width: 8px;
  height: 8px;
  background-color: var(--unavailable-color);
  border-radius: 500px;
  opacity: 0.5;
  z-index: -1;
  position: absolute; 
  animation: point-anim 2s ease-in-out infinite;
}
@keyframes point-anim {
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.header-v1 .unavailable-text {
  color: var(--unavailable-color);
}

.header-v1 .socials {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200px) {
  .header-v1 .socials {
    display: none;
  }
}

.header-v1 .social-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px -0.5px 1px rgba(255, 255, 255, 0.15);
}



/* ---------------------------------  HEADER V2 --------------------------------- */

.header-v2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100% - 12px);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(2px);
}

@media (max-width: 992px) {
  .header-v2 {
    padding: 20px 20px;
  }
}

/* -------------  Logo  -------------- */

/* -------  V2  -------- */

.header-v2 .logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.header-v2 .svg-logo {
  display: none;
}

.header-v2 .logo-text {
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: 350px) {
  .header-v2 .logo-text {
    display: none;
  }
  .header-v2 .svg-logo {
    display: block;
  }
}

/* -------------  Button  -------------- */

.header-v2 .btn-menu {
  background-color: var(--main-dark);
  font-size: 0.9rem;
  border-radius: 50px;
  padding: 8px 20px;
  border: 2px solid var(--grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
}

.header-v2 .btn-menu:hover {
  border: 2px solid var(--main-blue);
}

/* -------------  Navbar  -------------- */

.header-v2 .navbar {
  background-color: var(--grey-dark);
  border-radius: 50px;
  display: none;
}

.header-v2 ul {
  display: flex;
  padding: 2px 2px;
  justify-content: center;
  align-items: center;
}

.header-v2 .navbar ul li {
  font-size: 0.9rem;
  border-radius: 50px;
  padding: 8px 20px;
}

@media (max-width: 525px) {
  .header-v2 .navbar ul li {
    font-size: 0.8rem;
  }
}

.header-v2 .nav-home {
  background-color: var(--main-dark);
}

/* -------------  Available + Socials  -------------- */

.header-v2 .right-menu {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: end;
}

@media (max-width: 710px) {
  .header-v2 .right-menu {
    display: none;
  }
}

.header-v2 .available {
  display: flex;
  align-items: center;
}

.header-v2 .pulse {
  width: 28px;
  height: 28px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.header-v2 .point {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  flex-wrap: nowrap;
  position: static;
  border-radius: 50%;
  background-color: var(--unavailable-color);
}

.header-v2 .point-animation {
  width: 8px;
  height: 8px;
  background-color: var(--unavailable-color);
  border-radius: 500px;
  opacity: 0.5;
  z-index: -1;
  position: absolute; 
  animation: point-anim 2s ease-in-out infinite;
}
@keyframes point-anim {
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.header-v2 .unavailable-text {
  color: var(--unavailable-color);
}

.header-v2 .socials {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200px) {
  .header-v2 .socials {
    display: none;
  }
}

.header-v2 .social-btn {
  background-color: var(--main-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px -0.5px 1px rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}

.header-v2 .social-btn:hover {
  background-color: var(--grey-dark);
}


/* ---------------------------------  MAIN PAGE  --------------------------------- */

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slide {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}


/* -------------  Hero  -------------- */

.container .hero h2 {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 600;
  line-height: 80px;
}

.container .hero h2 .content-third-text{
  display: flex;
  align-items: center;
  gap: 5%;
}

.container .hero h2 div p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 16px;
  max-width: 360px;
}

.container .hero h2 .first-text, .third-text{
  margin-left: 6%;
}

@media (max-width: 992px) {
  .container .hero h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 55px;
  }
  .container .hero h2 div p {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 16px;
    max-width: 300px;
  }
}
@media (max-width: 575px) {
  .container .hero h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
  .container .hero h2 div p {
    font-size: 0.6rem;
    font-weight: 300;
    line-height: 12px;
    max-width: 220px;
  }
}

@media (max-width: 425px) {
  .container .hero h2 {
    text-align: center;
  }
  .container .hero h2 .content-third-text{
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  .container .hero h2 .first-text, .third-text{
    margin-left: 0;
  }
}

.btn-scroll {
  bottom: calc(5%);
  position: absolute;
}

@media (max-width: 380px) {
  .btn-scroll {
    bottom: calc(10%);
  }
  .btn-scroll svg {
    width: 40px;
    height: 40px;
  }
}


.slide-1 {
  background-color: #03e9f4;
}

.slide-2 {
  background-color: #03f43f;
}

.slide-3 {
  background-color: #e8f403;
}

.slide-4 {
  justify-content: end !important;
}

.contact-div {
  position: relative;
  width: 94%;
  height: 75%;
  border-radius: 24px;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-text-1 {
  font-size: 1.2rem;
}

.contact-text-2 {
  font-size: 2rem;
  margin: 10px 20px 30px 20px;
  text-transform: uppercase;
}

.contact-div .btn-cercle {
  bottom: 40px;
}

.message-contact-div {
  font-size: 0.6rem;
  text-align: center;
  font-weight: 500;
}

footer {
  padding: 20px 0;
}

footer p {
  font-size: 0.6rem;
}


/* -----------------------------------------  FIRST PAGE  ----------------------------------------- */

.body {
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-dark);
  overflow: hidden;
}

.div-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
  height: 10vh;
  width: 100%;
}

.div-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating_cube {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  animation: animateRotatingCube 4s linear infinite;
}
@keyframes animateRotatingCube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.rotating_cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.rotating_cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2e2e2e, #03e9f4);
  transform: rotateY(calc(90deg * var(--i))) translateZ(20px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #2e2e2e;
    transform: rotateX(90deg) translateZ(20px);
}
.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #03e9f4;
    transform: translateZ(-60px);
    filter: blur(20px);
    box-shadow: 0 0 1px rgba(3, 233, 244, 0.2),
    0 0 2px rgba(3, 233, 244, 0.4),
    0 0 3px rgba(3, 233, 244, 0.6), 
    0 0 4px rgba(3, 233, 244, 0.8), 
    0 0 1px rgba(3, 233, 244, 1),
}

.MyPortfolio-h1 {
  position: relative;
  font-size: 2rem;
  color: black;
}

.MyPortfolio-a {
  color: var(--main-dark);
  -webkit-text-stroke: 1px #2e2e2e;
}


.MyPortfolio-h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #03e9f4;
  -webkit-text-stroke: 0px #2e2e2e;
  border-right: 2px solid #03e9f4;
  overflow: hidden;
  animation: animateTitle 4s linear infinite;
}

@keyframes animateTitle {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.div-box-container {
  position: relative;
  width: 100%;
  transform: rotate(-25deg);
}

.div-box-container .box {
  position: relative;
  left: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 400px);
  height: 200px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  animation: animateSurface 1.5s ease-in-out infinite;
}
@keyframes animateSurface {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.div-box-container .box .cube {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #03e9f4;
  box-shadow: 0 0 5px rgba(3, 233, 244, 1), 0 0 25px rgba(3, 233, 244, 1),
    0 0 50px rgba(3, 233, 244, 1), 0 0 100px rgba(3, 233, 244, 1),
    0 0 200px rgba(3, 233, 244, 0.5), 0 0 300px rgba(3, 233, 244, 0.5);
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

